html,
body,
#map {
    height: 100%;
    width: 100vw;
}


/* Prevent the page from being pushed down */
.skiptranslate iframe {

    display: none !important;
    z-index: 0;
}

body {
    position: fixed;
    top: 0 !important;

}

#goog-gt-tt {
    display: none !important;
}

#google_translate_element {
    visibility: hidden;
    ;
}

/* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: #45a049 #add8e6;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #add8e6;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #45a049;
        border-radius: 10px;
        border: 2px solid #ffffff;
    }